.container-fluid {
	.card {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h4 {
			font-size: calc(1.5rem + 2vw);
		}
	}
}
.card {
	>div {
		pointer-events: all !important;
	}
}
@media screen and (max-width: 991px) {
	footer {
		display: none;
	}
	.container-fluid {
		.card {
			width: 80%;
		}
	}
}
