.h-100vh-105 {
	height: calc(100vh - 135px);
}
.right-top-0 {
	top: 0;
	right: 0;
}
@media screen and (max-width: 991px) {
	#homeContentWrapper {
		img {
			overflow: hidden;
		}
		flex-direction: column;
		div.col-5 {
			text-align: center;
			-ms-flex: 0 0 100% !important;
			max-width: 100% !important;
			flex: 0 0 100% !important;
		}
		div.col-7 {
			overflow: hidden;
			-ms-flex: 0 0 100% !important;
			max-width: 100% !important;
			flex: 0 0 100% !important;
		}
		div.pl-5 {
			padding: 0 7vw !important;
		}
	}
	#homeIconCredit {
		display: none;
	}
	.h-100vh-105 {
		width: 100vw;
		height: auto;
	}
	.rot-size-w {
		position: absolute !important;
		bottom: 0;
		top: 0;
		right: 0;
		transform: rotate(90deg);
	}
}
