#actionModalReviews {
    display: none;
}
.max-vh-35 {
    max-height: 35vh;
}
#actionModalReviewsRightPanel {
    display: none;
}
.font-size-1rem {
    font-size: 1rem!important;
}
#sideBar {
    width: 20%;
}
#sideBar hr {
    width: 50%;
    background-color: #eeeeee;
    pointer-events: none;
}
#actionModalReviewsFeed hr {
    width: 50%;
    background-color: #eeeeee;
}
div.lazy {
    display: inline-block;
}

@media screen and (max-width: 991px) {
    body.noscroll {
        overflow-y: hidden!important;
    }
    .card-columns {
        column-count: 2;
    }
    .container-fluid.mt-6 {
        margin-top: 64px;
    }
    .list-group-item.mt-7 {
        margin-top: 0;
    }
    #exploreModalWrapper {
        flex-direction: column;
    }
    #exploreSection.w-80 {
        width: 90%!important;
    }
    #exploreModalWrapper .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #exploreModalWrapper .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #actionModalMain {
        text-align: center;
    }
    #actionModalBodyTags {
        justify-content: center!important;
    }
    #actionModalShowReviews {
        margin-top: .5rem!important;
        margin-bottom: .5rem!important;
    }
    #actionModalReviews .row {
        flex-direction: column;
    }
    #actionModalReviewsLeftPanel {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #actionModalReviewsRightPanel {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #actionModalReviewsLeftPanel form {
        margin: 0.25rem!important;
    }
    #sideBar {
        width: 10%; /* slide out to 100% when arrow tapped */
        z-index: 2;
        overflow-y: hidden;
        -webkit-transition: width 250ms ease;
        -moz-transition: width 250ms ease;
        -o-transition: width 250ms ease;
        transition: width 250ms ease;
    }
    #sideBar hr {
        display: none;
    }
    #sideBar .col-lg-12 {
        display: none;
    }
    #sideBar .col-lg-12.show {
        display: block;
    }
    #sideBar .list-group-item {
        pointer-events: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }
    #sideBar .list-group-item:last-child {
        padding-bottom: 9vh;
    }
    .list-group-item.mb-5 {
        padding-bottom: 6vh;
    }
    #sideBar.show {
        width: 100%;
        overflow-y: scroll;
        max-width: 100vw!important;
    }
    #sideBar .list-group-item.show {
        pointer-events: auto;
    }
    .fixed-top-left-sidebar {
        top: 64px!important;
    }
    #exploreMobileExpandSideBar {
        position: fixed;
        z-index: 3;
        right: 0;
        background-color: transparent;
        border: none;
        top: 50%; 
        left: 5%; 
        -ms-transform: translate(-50%, -50%); 
        -webkit-transform: translate(-50%, -50%); 
        -moz-transform: translate(-50%, -50%); 
        transform: translate(-50%, -50%); 
        width: 10%;
        padding: 0;
    }
    #exploreMobileExpandSideBar.close {
        left: unset;
        right: 0;
    }

}

@media screen and (max-width: 600px) {
    .card-columns {
        column-count: 1;
    }
}