h2 {
    font-size: 2.5rem;
}

.my-7 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.icon-sizing {
    font-size: 7rem;
}

.icon-color {
    color: rgba(60, 108, 196, 0.65);
}

.p-width-305 {
    width: 305px;
}

.p-width-335 {
    width: 335px;
}

.p-width-355 {
    width: 355px;
}

.advertiseStepItem {
    -webkit-box-flex: 1;
    flex: auto;
    align-items: center;
}

.advertiseStepWrapper {
    display: flex;
    align-items: center;
}

.advertiseStepItem:not(:first-child) .advertiseStepWrapper:before {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    height: 1px;
    width: 100%;
    margin-right: .5rem;
    content: "";
    background-color: rgba(0,0,0,.1);
}

.advertiseStepItem:not(:last-child) .advertiseStepWrapper:after {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    height: 1px;
    width: 100%;
    margin-left: .5rem;
    content: "";
    background-color: rgba(0,0,0,.1);
}

.advertiseStepNumber {
    width: 30px;
    height: 30px;
    border-radius: 99px;
}