h2 {
    font-size: 2.5rem;
}

.my-7 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.w-255px {
    width: 255px;
}

.delay-150ms {
    -webkit-animation-delay: 150ms;
    -moz-animation-delay: 150ms;
    animation-delay: 150ms;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-webkit-slider-thumb:active {
    background: #3C6CC4;
}
input[type=range]::-moz-range-thumb, input[type=range]::-moz-range-thumb:active {
    background: #3C6CC4;
}
input[type=range]::-ms-thumb, input[type=range]::-ms-thumb:active {
    background: #3C6CC4;
}

.w-975px {
    width: 975px;
}

.icon-sizing {
    font-size: 7rem;
}

.icon-color {
    color: rgba(60, 108, 196, 0.65);
}

.p-width-305 {
    width: 305px;
}

.p-width-335 {
    width: 335px;
}

.p-width-355 {
    width: 355px;
}

.advertiseStepItem {
    -webkit-box-flex: 1;
    flex: auto;
    align-items: center;
}

.advertiseStepWrapper {
    display: flex;
    align-items: center;
}

.advertiseStepItem:not(:first-child) .advertiseStepWrapper:before {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    height: 6px;
    width: 100%;
    margin-right: .5rem;
    content: "";
    background-color: rgba(0,0,0,.1);
}

.advertiseStepItem:first-child .advertiseStepWrapper:after {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.advertiseStepItem:not(:last-child) .advertiseStepWrapper:after {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    height: 6px;
    width: 100%;
    margin-left: .5rem;
    content: "";
    background-color: rgba(0,0,0,.1);
}

.advertiseStepItem:last-child .advertiseStepWrapper:before {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

.advertiseStepItem:nth-child(2) .advertiseStepWrapper:before {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

.advertiseStepItem:nth-child(2) .advertiseStepWrapper:after {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.advertiseStepNumber {
    width: 28px;
    height: 28px;
    border-radius: 99px;
}