h2 {
    font-size: 2.5rem;
}

.my-7 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.w-255px {
    width: 255px;
}

small {
    display: block;
}

.font-size-1_7 {
    font-size: 1.7rem;
}

.delay-150ms {
    -webkit-animation-delay: 150ms;
    -moz-animation-delay: 150ms;
    animation-delay: 150ms;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-webkit-slider-thumb:active {
    background: #3C6CC4;
}
input[type=range]::-moz-range-thumb, input[type=range]::-moz-range-thumb:active {
    background: #3C6CC4;
}
input[type=range]::-ms-thumb, input[type=range]::-ms-thumb:active {
    background: #3C6CC4;
}

.w-975px {
    width: 975px;
}

.icon-sizing {
    font-size: 6rem;
}

.icon-color {
    color: rgba(60, 108, 196, 0.65);
}

.p-width-305 {
    width: 305px;
}

.p-width-335 {
    width: 335px;
}

.p-width-355 {
    width: 355px;
}

#advertiseProgressContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 145px);
}

.advertiseStepItem {
    -webkit-box-flex: 1;
    flex: auto;
    align-items: center;
}

.advertiseStepWrapper {
    display: flex;
    align-items: center;
}

.advertiseStepItem:not(:first-child) .advertiseStepWrapper:before {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    height: 6px;
    width: 100%;
    margin-right: .5rem;
    content: "";
    background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    transition: background-color 250ms;
}

.advertiseStepItem:first-child .advertiseStepWrapper:after {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.advertiseStepItem:not(:last-child) .advertiseStepWrapper:after {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    height: 6px;
    width: 100%;
    margin-left: .5rem;
    content: "";
    background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    transition: background-color 250ms;
}

.advertiseStepItem:last-child .advertiseStepWrapper:before {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

.advertiseStepItem:nth-child(2) .advertiseStepWrapper:before {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

.advertiseStepItem:nth-child(2) .advertiseStepWrapper:after {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.advertiseStepItem:not(:first-child) .advertiseStepWrapper.active_before:before,  .advertiseStepItem:not(:last-child) .advertiseStepWrapper.active_after:after{
    background-color: #3C6CC4;
}

.advertiseStepNumber {
    width: 28px;
    height: 28px;
    border-radius: 99px;
}

#advertiseOrderSummary {
    font-size: 1.1rem;
}

@media screen and (max-width: 991px) {
    h2 {
        font-size: calc(1.8rem + 0.8vw);
    }

    .w-975px {
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .icon-sizing {
        font-size: calc(4rem + 3vw);
    }

    #advertiseMobileStepperText {
        font-size: calc(1rem + 1vw);
    }

    #advertiseProgressStepper {
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 2rem;
    }

    #advertiseProgressStepper.w-75 {
        width: 100%!important;
    }

    .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; 
    }

    .col-6.align-items-start {
        align-items: center!important;
    }

    .p-width-305, .p-width-335, .p-width-355 {
        width: auto;
    }
}