.w-50-px {
    width: 50px;
}
#accountSettingsWrapper .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#accountSettingsWrapper .list-group-item .btn-blue-color {
    color: #4285F4;
}
#accountSettingsWrapper .list-group-item .btn-green-color {
    color: #00C851;
}
#accountSettingsWrapper .list-group-item .btn-red-color {
    color: #ff4444;
}
.upload-area {
    background-color: #fff;
    -webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}
.upload_logo_done {
    display: none;
}
#accountUploadLogoAreaInput:hover {
    cursor: pointer;
}
#accountUploadLogoAreaInputLabel {
    position: static;
}
#accountNSFWVerifyLabel:hover {
    cursor: pointer!important;
}
.compact-display {
    display: initial;
}

@media screen and (max-width: 991px) {
    .container-fluid.w-75 {
        width: 90%!important;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .container-fluid h1 {
        text-align: center;
        margin: 0 auto;
    }
    #accountSettingsWrapper {
        padding: 0;
        font-size: calc(0.9rem + 0.5vw);
    }
    #accountSettingsWrapper .float-right button {
        font-size: calc(0.7rem + 0.5vw);
    }
}

@media screen and (max-width: 470px) {
    .compact-display {
        display: none;
    }
}

@media (min-width: 576px) {
    #accountEmailInner.modal-sm {
        max-width: 345px;
    }
    #accountPasswordInner.modal-sm {
        max-width: 345px;
    }
    #accountProfileImageInner.modal-sm {
        max-width: 345px;
    }
    #accountNameInner.modal-sm {
        max-width: 345px;
    }
    #accountNSFWInner.modal-sm {
        max-width: 345px;
    }
    #accountDeleteInner.modal-sm {
        max-width: 345px;
    }
}